<a href="https://colab.research.google.com/github/Parkseoho/DAStudy-sun2/blob/main/%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8/1_%EA%B7%B8%EB%A6%AC%EB%94%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 그리디 알고리즘
현재 상황에서 지금 당장 좋은 것만 고르는 방법
현재의 선택이 나중에 미칠 여향에 대해서는 고려하지 않음

### 1. 거스름돈
 카운터에서 거스름돈 사용할 500원, 100원, 50원, 10원 단위 동전 무한히 존재
 손님에게 거슬러 줘야할 돈이 N원일 떄 거슬러 줘야할 동전의 최소 개수 구하기 (단 거슬러 줘야 할 돈 N은 항사 10의)

In [ ]:
n = 1250
count = 0

coin_types=[500,100,50,10]

for coin in coin_types:
  count += n//coin
  n%=coin

### 2. 큰 수의 법칙

In [ ]:
n, m, k = map(int, input().split())
data = list(map(int, input().split()))

data.sort()
first = data[n-1]
second = data[n-2]
result = 0

while True:
  for i in range(k):
    if m ==0:
      break
    result += first
    m-=1
  if m ==0:
    break
  result +=second
  m -= 1
print(result)

5 8 3
2 4 5 4 6
46

In [ ]:
n,m,k = map(int,input().split())
data = list(map(int,input().split()))
data.sort()
first = data[-1]
second = data[-2]

count = int(m/(k+1)) *k
count += m%(k+1)

result = 0
result += (count) * first
result += (m-count) * second
result

5 8 3
2 4 5 4 6

## 숫자 카드 게임

In [ ]:
# min() 함수 이용

n,m = map(int,input().split())
result = 0

for i in range(n):
  data = list(map(int,input().split()))
  min_value = min(data)
  result = max(result, min_value)
print(result)

2 4
7 3 1 8
3 3 3 4
3

In [ ]:
# 2중 반복문

n,m = map(int,input().split())
for i in range(n):
  data = list(map(int,input().split()))
  min_value = 10001
  for a in data:
    min_value = min(min_value,a)
  result = max(result,min_value)
result

2 4
7 3 1 8
3 3 3 4

3

In [ ]:
# 어떠한 수 N이 1이 될 떄까지 다음의 두 과정을 반복 진행
# N에서 1을 뺀다
# N을 K로 나눈다.
# 단 두 번째 연산은 N이 K로 나누어떨어질 때만 선택 가능


n,k = map(int,input().split())
result = 0

while n >=k:
  while n % k !=0:
    n-=1
    result +=1
  n//= k
  result +=1
while n>1:
  n-=1
  result +=1
print(result)

25 5
2

In [ ]:
n,k = map(int,input().split())
result = 0
while True:
  target = (n//k) *k
  result += (n-target)
  n = target
  if n<k:
    break
  n//= k
  result +=1
result +=(n-1)
print(result)

28 3
4